<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <%- include('../partials/admin/head') %> 
</head>
<body>

    <%- include('../partials/admin/navbar') %>


    <div class="main container" style="display:flex;justify-content: center;align-items:center;margin-top: 2rem;">
        <div class="col-md-8 col-md-offset-2">
	        
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">Admin-Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Post</li>
                </ol>
            </nav>
    		
    		<form action="/admin/edit/<%= locals.id %> " method="POST" encType="multipart/form-data">
                <div class="form-group">
                    <label for="title">Post Title</label>
                    <input type="text" class="form-control" name="title" value=""  id="post_title"/>
                </div>

    		    <div class="form-group">
                    <label for="content">Post content</label>
    		        <textarea rows="5" class="form-control" name="content" id="post_content"></textarea>
    		    </div>
                         
                <label for="sampleFile">Upload an image cover: </label>
                <input type="file" id="inputGroupFile01" name="sampleFile" accept="image/*" placeholder="welcome">
                <span>Previous Picture's name: <span style="font-weight: bold;">Welcome.jpg</span></span>
                
                
                <div class="form-group input-group mb-3" style="margin-top: 1rem;">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Choose Category</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name="category">
                      <option selected>Choose...</option>
                      <option name="programming">Programming</option>
                      <option name="languages">Languages</option>
                    </select>
                </div>

    		    <div class="form-group final">
    		        <button type="submit"  class="btn btn-primary btn-lg" style="width: 100%;">Update</button>
    		    </div>
    		</form>

		</div>
    </div>



<script type="text/javascript">
    // The DOM element you wish to replace with Tagify
    // initialize Tagify on the above input node reference
    var post_id='<%= locals.id %>';
    const url='http://localhost:3000/admin/json/'+post_id;
    let myFetch = fetch(url);
    let final_results;
    
    //Display post data into our page ..
    function setData(data){
        //Get all the html elements ....
        var title=document.getElementById('post_title');
        var content=document.getElementById('post_content');
        var category=document.getElementById('inputGroupSelect01');
        var input = document.querySelector('input[name=basic]');
        
        //Set post title ...
        title.value=data.post_data.title;

        //Set post content ...
        content.value=data.post_data.content;

        //Set post default category ...
        for(var i, j = 0; i = category.options[j]; j++) {
            if(i.value == data.post_data.category) {
                category.selectedIndex = j;
                break;
            }
        }
    }

    //Fetch data information from database ...
    async function getData(){
        try {
            let response = await fetch(url);
            let data=await response.json();
            final_results=data;
        } catch (error) {
            console.log(error);
        }finally{
            return final_results;
        }
    }
    

    //Function that helps us:
    //1) Fetch the post data before page components finish loading ..
    //2) Display post data only if page components have entirely loaded ..
    async function initApp(){
        let data;
        try {
            switch (document.readyState) {
                case "loading":
                    data=await getData();
                case "complete":
                    setData(data);
                    break;
            }

        } catch (error) {
            console.log(error);
        }
    }

    //Calling the final function ..
    initApp();

</script> 

</html>