<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/admin/head') %>
<body>

    <div class="container h-100 admin">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="/images/header/image1.jpg" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<% if(locals.error) { %>
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
							<strong><%= error %> </strong>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
						</div>
					<% } %>

					<form action="/admin_login" method="POST">

						
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="email" name="email" class="form-control input_user"  placeholder="email">
						</div>
						<div class="input-group mb-4">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" class="form-control input_pass"  placeholder="password">
						</div>
						
						<button type="submit" class="btn login_btn">Login</button>
					</form>
							
                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            <a href="#">Forgot your password?</a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
                        
<script src="/js/header.js"></script>
</body>
</html>