<aside class="aside-me">
    <div class="header">
        <h3>Hello,There</h3>
    </div>

    <div class="image">
        <img src="/upload/jeremias.jpg" alt="">
    </div>

    <div class="text">
        <p style="font-family: 'Rochester', cursive;" class="name">Jeremias Obiang</p>
        <p class="text-description">Lorem ipsum dolor sit amet consectetur  sit amet consectetur  sit amet consectetur lorem ipsum dolor sit amet consectetur</p>
    </div>

    <div class="button">
        <button>Find More</button>
    </div>
</aside>
    
        
        
    