<aside class="categories">
    <div class="caterogies-container" id="caterogiesContainer">
        <div class="header">
            <h3 class="title">Categories</h3>
        </div>
        <form action="" method="post">
            <label for="cat">Categories</label>
            <select name="cat" id="cat">
                {{!-- <option value="-1">Select a category</option> --}}
                <option value="programming">Programming</option>
                <option value="languages">Languages</option>
            </select>
        </form>
    </div>
</aside>
