<footer>
    <div class="container footer">
        <div class="header">
            <h3 class="title"><a href="#"></a><i class="fab fa-instagram fa-lg"></i> Follow me on Instagram</h3>
        </div>
    
    
        <div class="row row-cols-3 row-cols-xs-3 row-cols-sm-3 row-cols-md-6 row-cols-lg-6">
            <div class="col img-1">1</div>
            <div class="col img-2">2</div>
            <div class="col img-3">3</div>
            <div class="col img-4">4</div>
            <div class="col img-5">5</div>
            <div class="col img-6">6</div>
        </div>

        <div class="copyright">
            <p><a href="#">&copy; Copyright 2021 JEREMIAS OBIANG</a></p>
        </div>
    </div>
    <script src="/js/home/header"></script>
</footer>

