<footer>
    <div class="container footer">
        <div class="copyright">
            <p><a href="#">&copy; Copyright 2021 JEREMIAS OBIANG</a></p>
        </div>
    </div>
    <script src="/js/home/header"></script>
</footer>

