<html lang="en">
    <%- include('../partials/head') %>
<body> 
  <%- include('../partials/header') %>
  
  


  <div class="container about">
    <figure class="snip1559">
      <div class="profile-image"><img src="/upload/jeremias.jpg" /></div>
      <figcaption>
        <h3>Jeremias Obiang</h3>
        <h5>Founder</h5>
        <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
        <div class="icons"><a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"> <i class="fab fa-instagram"></i></a>
          <a href="#"> <i class="fa fa-linkedin"></i></a>
        </div>
      </figcaption>
    </figure>
    <figure class="snip1559">
      <div class="profile-image"><img src="/upload/tatenda.jpg" alt="profile-sample7" /></div>
      <figcaption>
        <h3>Tatenda Mavhunga</h3>
        <h5>Web Designer</h5>
        <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
        <div class="icons"><a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"> <i class="fab fa-instagram"></i></a>
          <a href="#"> <i class="fa fa-linkedin"></i></a>
        </div>
      </figcaption>
    </figure>
    <figure class="snip1559">
      <div class="profile-image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample6.jpg" alt="profile-sample6" /></div>
      <figcaption>
        <h3>Indigo Violet</h3>
        <h5>Public Relations</h5>
        <p>The only skills I have the patience to learn are those that have no real application in life. </p>
        <div class="icons"><a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"> <i class="fab fa-instagram"></i></a>
          <a href="#"> <i class="fa fa-linkedin"></i></a>
        </div>
      </figcaption>
    </figure>
  </div>
    
  <%- include('../partials/footer') %>
    
</body>

<script src="/js/home/header.js"></script>
</body>
</html>
