<div class="sidenav">
    <div class="logo">
        <img src="/images/home/image1.jpg" alt="">
    </div>

    <ul>
        <% if(action === 'view') {%>
            <li class="active"><a href="#">View</a></li>
        
        <% } else{ %> 
            <li><a href="#">View</a></li>
        <% } %> 

        <% if(action === 'create') {%>
            <li class="active"><a href="#">Create</a></li> 
        <% } else{ %> 
            <li><a href="#">Create</a></li>
        <% } %> 


        <% if(action === 'update') {%>
            <li class="active"><a href="#">Update</a></li> 
        <% } else{ %> 
            <li><a href="#">Update</a></li>
        <% } %> 


        <% if(action === 'delete') {%>
            <li class="active"><a href="#">Delete</a></li>
        <% } else{ %> 
            <li><a href="#">Delete</a></li>
        <% } %> 

        
        <li><a href="#">Logout</a></li>
    </ul>
    
</div>
